:root {
  --accent-color: #1bff07;
  --text-color: #fff;
  --background-color: #000;
  --background-color2: #191c19;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}
.title {
  margin-bottom: 40px;
  font-size: 55px;
  line-height: normal;
  letter-spacing: -1.65px;
}
/* ------------------------------header--------------------------- */
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 125px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 130px;
  height: 39px;
  margin-top: 3px;
  padding: 0 12px 0 9px;
  border-radius: 100px;
  background-color: var(--background-color);
  text-align: center;
  color: var(--accent-color);
  font-size: 42.414px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -4.666px;
  text-transform: uppercase;
}
.header_menu {
}
.header__list {
  display: flex;
}
.header__list > *:not(:last-child) {
  margin-right: 50px;
}
.header__item {
}
.header__link {
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: lowercase;
}
.header__link:hover {
  color: var(--accent-color);
}
/* -------------------------------main---------------------------- */
.main {
  flex: 1 1 auto;
}
.main > * {
  margin-bottom: 150px;
}
/* -------------------------------hero---------------------------- */
.hero {
}
.hero__container {
}
.hero__image {
}
.hero__image img {
  width: 100%;
  max-height: 765px;
}
.hero__body {
  position: relative;
  padding-left: 119px;
}
.hero__text {
  position: absolute;
  width: 430px;
  bottom: 328px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
}
.hero__title {
  position: absolute;
  width: 919px;
  bottom: 94px;
  color: #1bff07;
  font-size: 80px;
  line-height: 87.5%;
  letter-spacing: -2.4px;
}
/* ----------------------------projects--------------------------- */
.projects {
}
.projects__container {
  padding: 0 125px;
}
.projects__title {
}
.projects__list {
  margin-bottom: 80px;
}
.list-projects {
}
.list-projects__item {
}
.list-projects__link {
}
.list-projects__link img {
  border-radius: 30px;
  width: 100%;
}
.list-projects__body {
  position: relative;
  padding-left: 50px;
}
.list-projects__title {
  position: absolute;
  bottom: 94px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
}
.list-projects__text {
  position: absolute;
  bottom: 50px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
}
.projects__button {
  display: block;
  width: 580px;
  height: 151px;
  padding: 56px 85px 58px 86px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  transition: all 0.3s ease 0s;
}
.projects__button:hover {
  border: 1px solid var(--accent-color);
  background: var(--background-color);
  color: var(--accent-color);
}
/* ----------------------------competences------------------------ */
.competences {
}
.competences__container {
  padding: 0 125px;
}
.competences__title {
  margin-bottom: 104px;
}
.competences__list {
}
.competences__list > *:not(:last-child) {
  /* margin-bottom: 60px; */
  margin-bottom: 120px;
}
.competences__item {
}
.item-competences {
}
.item-competences__title {
  position: relative;
  margin-bottom: 15px;
  color: #1bff07;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
}
.item-competences:nth-child(1) .item-competences__title::before {
  position: absolute;
  width: 45px;
  height: 44px;
  bottom: 58px;
  left: 0;
  content: "";
  background-image: url("../img/decor/competences/01.svg");
}
.item-competences:nth-child(2) .item-competences__title::before {
  position: absolute;
  width: 45px;
  height: 44px;
  bottom: 58px;
  left: 0;
  content: "";
  background-image: url("../img/decor/competences/02.svg");
}
.item-competences:nth-child(3) .item-competences__title::before {
  position: absolute;
  width: 45px;
  height: 44px;
  bottom: 58px;
  left: 0;
  content: "";
  background-image: url("../img/decor/competences/03.svg");
}
.item-competences:nth-child(4) .item-competences__title::before {
  position: absolute;
  width: 45px;
  height: 44px;
  bottom: 108px;
  left: 0;
  content: "";
  background-image: url("../img/decor/competences/04.svg");
}
.item-competences__text {
  width: 778px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}
/* ------------------------------helper--------------------------- */
.helper {
}
.helper__container {
  padding: 0 125px;
}
.helper__title {
  width: 404px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
}
.title {
}
.helper__list {
}
.helper__item {
}
.item-helper {
}
.item-helper:not(:last-child) {
  margin-bottom: 74px;
}
.item-helper:nth-child(2) {
  margin-bottom: 134px;
}
.item-helper__image img {
  width: 100%;
}
.item-helper__body {
  padding: 40px 40px 69px;
  border-radius: 30px;
  background-color: var(--background-color2);
}
.item-helper__title {
  margin-bottom: 15px;
  color: var(--accent-color);
  font-size: 55px;
  line-height: normal;
  letter-spacing: -1.65px;
}
.item-helper__text {
  width: 749px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}
/* ----------------------------contacts--------------------------- */
.contacts {
}
.contacts__container {
  height: 717px;
  padding: 0 125px;
  border-radius: 30px;
  background: var(--background-color2) url("../img/content/contacts/cuate.svg")
    right no-repeat;
  position: relative;
}
.contacts__column {
  position: absolute;
  bottom: 89px;
  left: 125px;
}
.contacts__title {
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 171.429%;
  letter-spacing: -1.05px;
}
.contacts__list {
}
.contacts__item {
}
.item-contact {
}
.item-contact:not(:last-child) {
  margin-bottom: 20px;
}
.item-contact__social {
}
.item-contact__link {
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -1.8px;
  transition: all 0.3s ease 0s;
}
.item-contact__link:hover {
  color: var(--accent-color);
}
/* ------------------------------footer--------------------------- */
.footer {
  font-family: Manrope;
  color: var(--background-color);
}
.container {
  padding: 76px 125px 90px;
  border-radius: 30px;
  background-color: var(--text-color);
}
.footer__title {
  margin-bottom: 66px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}
.footer__subtitle {
  opacity: 0.5;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
}
